
cleanup()
{
  echo "****************************************************************"
  echo "Stopping software .....please wait...."
  echo "****************************************************************"

  ALL_COMPONENTS=({{componentsCode|map('pluginName')|join(' ')|lower}})
  for componentToStop in "${ALL_COMPONENTS[@]}"; do
    IFS=',' read -r -a keepRunningArray <<< "$KEEP_RUNNING"
    componentFoundToKeepRunning=0
    for keepRunningToFindeElement in "${keepRunningArray[@]}"; do
      if [ "$componentToStop" == "$keepRunningToFindeElement" ]; then
        echo "Not stopping $componentToStop!"
        componentFoundToKeepRunning=1
      fi
    done
    if [ "$componentFoundToKeepRunning" -eq 0 ]; then
      {% for e in componentsCode %}
      if [ "$componentToStop" == "{{e.pluginName|lower}}" ]; then
        echo "Stopping $componentToStop ..."
        {% for a in e.sourceTypes %}
        if [ "$TYPE_SOURCE_{{e.componentName|upper}}" == "{{a.name}}" ]; then
         {{a.stopCode}}
         rm -f .{{e.componentName}}Pid
        fi
        {% endfor %}
      fi
      {% endfor %}
    fi
  done

  exit 0
}

