

IFS=',' read -r -a array <<< "$TYPE_SOURCE"
for typeSourceElement in "${array[@]}"; do
  IFS=: read comp type pathOrVersion <<< "$typeSourceElement"

  if [ "$comp" == "{{componentNameLower}}" ]; then
    TYPE_SOURCE_{{componentNameUpper}}=$type
    if [ "$TYPE_SOURCE_{{componentNameUpper}}" == "local" ]; then
      TYPE_SOURCE_{{componentNameUpper}}_PATH=$pathOrVersion
    else
      TYPE_SOURCE_{{componentNameUpper}}_VERSION=$pathOrVersion
    fi
  fi

done

{% for e in availableTypes|filterNotEmpty('defaultVersion') %}

if [ "$TYPE_SOURCE_{{componentNameUpper}}" == "{{e.typeName}}" ]; then
  if [ -z "$TYPE_SOURCE_{{componentNameUpper}}_VERSION" ]; then
    TYPE_SOURCE_{{componentNameUpper}}_VERSION={{e.defaultVersion}}
  fi
  {% if e.code %}{{e.code}}{% endif %}  
fi

{% endfor %}

verbosePrint "TYPE_SOURCE_{{componentNameUpper}} = $TYPE_SOURCE_{{componentNameUpper}} // TYPE_SOURCE_{{componentNameUpper}}_PATH = $TYPE_SOURCE_{{componentNameUpper}}_PATH // TYPE_SOURCE_{{componentNameUpper}}_VERSION = $TYPE_SOURCE_{{componentNameUpper}}_VERSION"
