
mkdir -p localrun/{{TmpFolder}}

cat <<EOT{{TmpFolder}} > localrun/{{TmpFolder}}/{{Name}}
{# Content contains pre-loaded and staticly defined content, still this might contain connection variables #}
{% for line in Content %}
  {% set connToReplace = connectionsContainsKey(line) %}
  {% if connToReplace %}
    {{connToReplace.Var}}=$REPLVAR{{connToReplace.VarRpl}}
  {% else %}
    {{line}}
  {% endif %}
{% endfor %}
{# Connections not included in pre-loaded or static content, need to be added now #}
{% for line in Connections %}
  {% if ! alreadyAdded(line) %}
  	{{line}}
  {% endif %}
{% endfor %}
EOT{{TmpFolder}}

