mkdir -p localrun/{{TmpFolder}}

{% for sourceName, listOfSourceObjects in mapSourceToConnections %}
if [ "$TYPE_SOURCE_{{sourceName|upper}}" == "docker" ]; then
  {% for sourceObject in listOfSourceObjects %}
  REPLVAR{{sourceObject.VarRpl}}="{{sourceObject.ContentRpl(sourceObject.Source)}}"
  {% endfor %}
elif [ "$TYPE_SOURCE_{{sourceName|upper}}" == "local" ]; then
  {% for sourceObject in listOfSourceObjects %}
  REPLVAR{{sourceObject.VarRpl}}="{{sourceObject.ContentRpl('host.docker.internal')}}"
  {% endfor %}
fi
{% endfor %}

{{createFile()}}
