
{% for sourceName in allSources %}
if [ "$TYPE_SOURCE_{{sourceName|upper}}" == "docker" ]; then
  REPLVAR_{{pluginName|upper}}_{{sourceName|upper}}="{{sourceName}}"
elif [ "$TYPE_SOURCE_{{sourceName|upper}}" == "local" ]; then
  REPLVAR_{{pluginName|upper}}_{{sourceName|upper}}="host.docker.internal"
fi
{% endfor %}
